#projects {
    background-color: rgb(170, 170, 170); // margin: 50px;
    padding: 50px;
    height: 600px;
}

@media screen and (max-width: 600px) {
    #projects {
        height: 800px;
    }
}

@media screen and (min-width: 1400px) {
    #projects {
        height: 650px;
    }
}
