<<<<<<< HEAD
@import 'splash';
@import 'projects';
@import 'about';
@import 'footer';
// GENERAL CLASSES
img {
    height: 100%;
}

.inlineblock {
    display: inline-block;
}

.center {
    margin: auto;
}

nav .brand-logo {
    padding-left: 20px;
}

.padding {
    padding: 100px;
=======
body {
    color: white;
    font-size: 50px;
>>>>>>> 03ec67dd4b8bb935050064414a013ec3cfbca021
}

img {
    width: 100% !important;
    height: 100% !important;
}

#main-wrapper {
    height: 100vh;
}

<<<<<<< HEAD
.row p {
    font-size: 30px;
}

// Custom Classes
.logo {
    // border: 2px solid blue;
    height: 110px;
    padding: 10px !important;
=======
// write media query for desktop to have backgorund-attachement: fixed
.top {
    height: 100vh;
    background-image: url('/images/profile-picture-mobile.jpeg');
    background-repeat: no-repeat;
}

.card-content p {
    color: black !important;
}

.card-action a {
    color: #1565c0 !important;
>>>>>>> 03ec67dd4b8bb935050064414a013ec3cfbca021
}

.projects {}

.about {}

.about h1 {
    margin-top: 0px;
}