@import 'splash';
@import 'projects';
@import 'about';
@import 'footer';
// GENERAL CLASSES
img {
    height: 100%;
}

.inlineblock {
    display: inline-block;
}

.center {
    margin: auto;
}

nav .brand-logo {
    padding-left: 20px;
}

.padding {
    padding: 100px;
}

.small {
    height: 100px;
}

// ID'S
#loading {
    height: 100vh;
}

.row p {
    font-size: 30px;
}

// Custom Classes
.logo {
    // border: 2px solid blue;
    height: 110px;
    padding: 10px !important;
}

.logo img {
    height: 100%;
}

.feature {
    margin-top: 100px;
}

.project {
    height: 400px;
}

.test {
    border: 2px solid black;
    height: 400px;
}