h1 {
    margin: 0px;
}

.inlineblock {
    display: inline-block;
}

.center {
    margin: auto;
}

nav .brand-logo {
    padding-left: 20px;
}

#loading {
    height: 100vh;
}

#splash {
    color: white;
    background-image: url('../images/profile-picture.jpeg');
    background-repeat: no-repeat;
    height: 140vh;
    padding: 100px;
    margin-bottom: 0px;
}

#footer {
    background-color: rgb(170, 170, 170);
    height: 600px;
    padding: 100px;
    margin-bottom: 0px;
}

#footer-bottom {
    margin-top: 100px;
    text-align: center;
}

.logo {
    // border: 2px solid blue;
    height: 110px;
}

.logo img {
    height: 100%;
}