extends layout
	
block content
	include navbar
	//- LOADING SCEEN
	div(id="loading" class="full-height")
		.small.center
			img(src="/images/loading.gif" class="block text-center align-middle")
	
	//- WELCOME SCREEN
	div(id="splash" class="main")
		div.text-center.col-md-6.padding
			h1 Welcome
			//- main project
			.feature
				h2 Featured Project
				img(src="/images/city-runner-ss.png")
			a(href="https://github.com/caseyezimmerman/cityRunner" class="btn btn-primary") Github
				
	//- PROJECTS
	div(id="projects" class="container")
		div.project
			h2 Click to View on Github
			img(src="/images/tronjack-ss.png")
			.text-center
				a(href="https://github.com/chris-malloy/blackjack" class="btn btn-primary") Github
		div.project
			h2 Click to View on Github
			img(src="/images/shooter-rpg-ss.png")
			.text-center
				a(href="https://github.com/chris-malloy/2monstav.2shooterRPG" class="btn btn-primary") Github
	//- FOOTER
	div(id="footer" class="row")
		div(class="col-md-8")
			h3 What I Know
			.col.m3.logo
				img(src="/images/javascript-logo.png" class="responsive-img")
			.col.m3.logo
				img(src="/images/node.js-logo.png" class="responsive-img")
			.col.m3.logo
				img(src="/images/mysql-logo.png" class="responsive-img")
			.col.m3.logo
				img(src="/images/html-logo.png" class="responsive-img")
			.col.m3.logo
				img(src="/images/css-logo.png" class="responsive-img")
		div(class="col-md-4")
			h3 What I am Learning
			.col-md-3.logo 
				img(src="/images/react-logo.png" class="responsive-img")
			.col-md-8.logo
				img(src="/images/mongodb-logo.png" class="responsive-img")
			.col-md-3.logo
				img(src="/images/java-logo.png" class="responsive-img")
			.col-md-3.logo
				img(src="/images/angular-logo.png" class="responsive-img")
		div(id="footer-bottom" class="col-md-12")
			h3 Come Say Hi!
			.col-md-offset-4.logo
				a(href="https://www.linkedin.com/in/christopher-malloy-58143283/")
					img(src="/images/linkedin-logo.png" class="responsive-img")
			.col-md-2.logo
				a(href="https://github.com/chris-malloy")
					img(src="/images/github-logo.png" class="responsive-img")
			.col-md-2.logo
				a(href="https://stackoverflow.com/users/8971992/chris?tab=profile")
					img(src="/images/stack-overflow-logo.png" class="responsive-img")

//- TODO
//- switch to Bootstrap --> site is not symetrical so boostrap may be more appropriate