nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/")=title
        ul.nav.navbar-nav
            li.active
                a(href="/") Home
            li
                a(href="/") Projects
            