extends layout

block content
	//- LOADING SCREEN
	div(class="valign-wrapper full-height" id="loading")
		img(src="/images/loading.gif" class="block center verticle-align")
	//- WELCOME SCREEN
	div(id="splash" class="main")
		h1 Welcome
		
