extends layout
	
block content
<<<<<<< HEAD
	include navbar
	//- LOADING SCEEN
	div(id="loading" class="valign-wrapper full-height")
		.small.center
			img(src="/images/loading.gif" class="block center verticle-align responsive-img")
	
	//- WELCOME SCREEN
	div(id="splash" class="row main section")
		.col.hide-on-med-and-down
			h2 Imagination 
			h3 meets 
			h2 Technicality
			//- main project
			.feature
				h4 Featured Project
				img(src="/images/city-runner-ss.png" class="responsive-img")
			a(href="https://github.com/caseyezimmerman/cityRunner" class="waves-effect waves-light btn blue") Github
			
	//- PROJECTS
	div(id="projects" class="row center section")
		div.col.m6.project
			h5 Click to View on Github
			img(src="/images/tronjack-ss.png" class="responsive-img" width="60%")
			.col.m12.center
				a(href="https://github.com/chris-malloy/blackjack" class="waves-effect waves-light btn blue") Github
		div.col.m6.project
			h5 Click to View on Github
			img(src="/images/shooter-rpg-ss.png" class="responsive-img" width="60%")
			.col.m12.center
				a(href="https://github.com/chris-malloy/2monstav.2shooterRPG" class="waves-effect waves-light btn blue") Github
	
	//- ABOUT 
	div(id="about" class="row center section")
		div.col.m12
			h1 About
			p Jazz saxophonist turned full stack engineer, Chris Malloy seeks to develop engaging and helpful applications that are easy to understand and solve everyday problems.
	
	//- FOOTER
	div(id="footer" class="row section")
		div(class="col m8")
			h3 What I Know
			.col.s12.m6.l3.logo
					img(src="/images/react-logo.png" class="responsive-img" width="")
			.col.s12.m6.l3.logo
					img(src="/images/javascript-logo.png" class="responsive-img" width="")
			.col.s12.m6.l3.logo
					img(src="/images/node.js-logo.png" class="responsive-img" width="")
			.col.s12.m6.l3.logo
					img(src="/images/mysql-logo.png" class="responsive-img" width="")
			.col.s12.m6.l3.logo
					img(src="/images/html-logo.png" class="responsive-img" width="")
			.col.s12.m6.l3.logo
					img(src="/images/css-logo.png" class="responsive-img" width="")
		div(class="col m4")
			h3 What I am Learning
			.col.s12.m6.l3.logo
					img(src="/images/java-logo.png" class="responsive-img" width="")
			.col.s12.m6.l3.logo
					img(src="/images/angular-logo.png" class="responsive-img" width="")
		div(id="footer-bottom" class="col m12 center row")
			h3 Come Say Hi!
			.col.offset-m2.offset-l4.logo
					a(href="https://www.linkedin.com/in/christopher-malloy-58143283/")
					img(src="/images/linkedin-logo.png" class="responsive-img" width="")
			.col.l2.logo
					a(href="https://github.com/chris-malloy")
					img(src="/images/github-logo.png" class="responsive-img" width="")
			.col.logo
					a(href="https://stackoverflow.com/users/8971992/chris?tab=profile")
					img(src="/images/stack-overflow-logo.png" class="responsive-img" width="")


//- TODO
//- possible media queries for them
//- increase height of splash 
		
=======

	#main-wrapper
		//- PROFILE PICTURE
		.light-blue-text.valign-wrapper.top
			.container.valign.center-block
				.center
					.col-s12
						h1 Imagination  
					.col-s12
						h2 Meets
					.col-s12
						h1 Technicality

		//- PROJECTS
		.projects
			.container.center.light-blue-text
				h1 My Work
				.row
					.col.s12
						.card
							.card-image
								img(class="responsive-img", src="images/city-runner-ss.png", alt="City Runner Project")
								span.card-title 
							.card-content
								p Full Stack express application that uses node, mysql, and google maps api.
							.card-action
								a(href="https://github.com/caseyezimmerman/cityRunner") Github
				.row
					.col.s12
						.card
							.card-image
								img(class="responsive-img", src="images/tronjack-ss.png", alt="CTronjack Project")
								span.card-title 
							.card-content
								p Front end app to practice javascript logic for win conditions and explores advanced jquery and css topics.
							.card-action
								a(href="https://github.com/chris-malloy/tronjack") Github

		//- ABOUT
		.about
			.container.center.light-blue-text
				h1 Imagination meets Technicality 
				p An engineer who's imaginative curiousity is made reality through logic and experimentation.

		//- FOOTER
	footer


//- TODO
//- add other projects
//- add skills to footer
>>>>>>> 03ec67dd4b8bb935050064414a013ec3cfbca021
