extends layout
	
block content
	include navbar
	//- LOADING SCEEN
	div(id="loading" class="valign-wrapper full-height")
		.small.center
			img(src="/images/loading.gif" class="block center verticle-align")
	
	//- WELCOME SCREEN
	div(id="splash" class="row main")
		.col.offset-s1
			h1 Welcome
			//- main project
			.feature.project-border
				h4 Featured Project
				a(href="/temporary")
					img(src="/images/city-runner-ss.png")
	//- PROJECTS
	div(id="projects" class="row")
		.col.offset-s1
		.col.s4.project
			h5 Click to View on Github
			a(href="https://github.com/chris-malloy/blackjack")
				img(src="/images/tronjack-ss.png")
		.col.s4.project
			h5 Click to View on Github
			a(href="https://github.com/chris-malloy/2monstav.2shooterRPG")
				img(src="/images/shooter-rpg-ss.png")
	//- FOOTER
	div(id="footer" class="row")
		div(class="col s8")
			h3 What I Know
			.col.s3.logo
				img(src="/images/javascript-logo.png")
			.col.s3.logo
				img(src="/images/node.js-logo.png")
			.col.s3.logo
				img(src="/images/mysql-logo.png")
			.col.s3.logo
				img(src="/images/html-logo.png")
			.col.s3.logo
				img(src="/images/css-logo.png")
		div(class="col s4")
			h3 What I am Learning
			.col.s3.logo 
				img(src="/images/react-logo.png")
			.col.s8.logo
				img(src="/images/mongodb-logo.png")
			.col.s3.logo
				img(src="/images/java-logo.png")
			.col.s3.logo
				img(src="/images/angular-logo.png")
		div(id="footer-bottom" class="col s12")
			h3 Come Say Hi!
			.col.offset-s4.logo
				a(href="https://www.linkedin.com/in/christopher-malloy-58143283/")
					img(src="/images/linkedin-logo.png")
			.col.s2.logo
				a(href="https://github.com/chris-malloy")
					img(src="/images/github-logo.png")
			.col.s2.logo
				a(href="https://stackoverflow.com/users/8971992/chris?tab=profile")
					img(src="/images/stack-overflow-logo.png")


	
		
