extends layout
	
block content

	#main-wrapper
		//- PROFILE PICTURE
		.light-blue-text.valign-wrapper.top
			.container.valign.center-block
				.center
					.col-s12
						h1 Imagination  
					.col-s12
						h2 Meets
					.col-s12
						h1 Technicality

		//- PROJECTS
		.projects
			.container.center.light-blue-text
				h1 My Work 


		//- ABOUT
		.about
			.container.center.light-blue-text
				h1 Imagination meets Technicality 
				p An engineer who's imaginative curiousity is made reality through logic and experimentation.

			//- FOOTER