extends layout
	
block content

	#main-wrapper
		//- PROFILE PICTURE
		.light-blue-text.valign-wrapper.top
			.container.valign.center-block
				.center
					.col-s12
						h1 Imagination  
					.col-s12
						h2 Meets
					.col-s12
						h1 Technicality

		//- PROJECTS
		.projects
			.container.center.light-blue-text
				h1 My Work
				.row
					.col.s12
						.card
							.card-image
								img(class="responsive-img", src="images/city-runner-ss.png", alt="City Runner Project")
								span.card-title 
							.card-content
								p Full Stack express application that uses node, mysql, and google maps api.
							.card-action
								a(href="https://github.com/caseyezimmerman/cityRunner") Github
				.row
					.col.s12
						.card
							.card-image
								img(class="responsive-img", src="images/tronjack-ss.png", alt="CTronjack Project")
								span.card-title 
							.card-content
								p Front end app to practice javascript logic for win conditions and explores advanced jquery and css topics.
							.card-action
								a(href="https://github.com/chris-malloy/tronjack") Github

		//- ABOUT
		.about
			.container.center.light-blue-text
				h1 Imagination meets Technicality 
				p An engineer who's imaginative curiousity is made reality through logic and experimentation.

		//- FOOTER
	footer


//- TODO
//- add other projects
//- add skills to footer
